<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Your Shopping Cart</h1>
         </div>
         <% var sum = 0; %>
         <% var flag = false; %>
         <% techs.forEach(function(tech){ %>
            <% sum += tech.price * tech.quantity; %>
            <% if (tech.quantity > checkStore[tech.name]){ %>
                <% flag = true; %>
            <% } %>
         <% }); %>
         <% if (techs.length !== 0){ %>
            <h5>Total: <%= sum %></h5>
            <% if (!flag){ %> 
                <a class="btn btn-warning" href="/order/new">Check Out</a>
            <% } else {%>
                <h3>Not enough stock！！！</h3>
            <% }%>
         <% } %>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% techs.forEach(function(tech){ %>
            <% sum += tech.price %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                        <img style="width: 255px; height: 155px;" src="<%= tech.image%>">
                   <div class="caption">
                       <h4><%= tech.name %></h4>
                   </div>  
                    <div class="input-group spinner">
                        <input id="input-number" type="text" class="form-control" value="<%= tech.quantity %>">
                        <div class="input-group-btn-vertical"> 
                            <a href="/shoppingcart/<%=tech._id %>/quantityPlus" type="button" id="plus" class="btn btn-default"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                            <a href="/shoppingcart/<%=tech._id %>/quantityMinus" type="button" id="minus" class="btn btn-default"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        </div>
                        <form id="delete-form" action="/shoppingcart/<%=tech._id %>?_method=DELETE" method="POST" style="display: inline-block; padding-left: 60px">
                            <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                       </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <br>
      <a href="/techs">Go Back</a>
</div>

<% include ../partials/footer %>
